// Variables
$prim: #035aa6;
$sm: 600px;
$md: 960px;
$lg: 1264px;

// Mixins
@mixin centerElement() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin MQ($size) {
  @media screen and (min-width: $size){
    @content;
  }
}

// Reset
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;

  body {
    direction: rtl;
  }
}

.theme--light.v-application#app {
  min-height: 100vh;
  font-family: "DIN Next LT Arabic";
  height: 1000vh;
  
  .v-btn {
    letter-spacing: 0 !important;
  }
}

img {
  max-width: 100%;
  user-select: none;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: .3);
    z-index: 20;
  }
}

@media screen and (max-width: 760px){

  body {
    font-size: 14px;
  }

}